
/********** Base styles **********/
* {
  box-sizing: border-box;
}
body{
  font-family: 'Poppins';
  background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #00036e;
}
p{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  margin-bottom: 4%;
}
h3{
  float: right;
  margin-right: 1%;
  font-weight: 500;
  padding: 2% 15%;
  margin: 0;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.menu-chicken {
    background-color: #D59898;
}
.menu-beef{
  background-color: #C14543;
}
.menu-sushi{
  background-color: #E6D198;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop only **********/
@media (min-width: 992px) {
  .col-lg-4{
    width: 31%;
    float: left;
    border: 2px solid #000000;
    background-color: #ffffff;
    margin: 0 1%;
  }

 } 

 /********** Tablet only **********/
@media (min-width: 768px) and (max-width: 991px) {
.col-md-6 {
    width: 48%;
    background-color: #ffffff;
    float: left;
    border: 2px solid #000000;
    margin: 2% 1%;
}
.col-md-12 {
    width: 98%;
    background-color: #ffffff;
    float: left;
    border: 2px solid #000000;
    margin-left: 1%;
}
 } 

  /********** Mobile only **********/
@media (max-width: 767px) {
  .col-sm-12{
    width: 98%; 
    background-color: #ffffff;
    float: left;
    border: 2px solid #000000;
    margin: 1.5% 1%;
  }

 } 


